.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container_info,
.container_gps{
    width: 100% !important;
    padding: 0.5rem;
    box-sizing: border-box;
}

.container_info mat-form-field,
.container_gps mat-form-field{
    width: 100% !important;
}


.location{
    --background: rgba(var(--color-new-3-1)) !important;
    --color: rgba(var(--color-new-1-1)) !important;
  }

.container_photo{
    width: 100%;
    height: 50vh;
}