<section class="filter_input">
  <input
    type="search"
    matInput
    placeholder="Buscar"
    [formControl]="formControl"
    class="filter_input_item"
    (ngModelChange)="setAutoComplete()"
    (keyup.enter)="setSearch()"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    @for (data of listObservable; track data){
    <mat-option
      [value]="data"
      [title]="data"
      (click)="setSearchAutoComplete(data)"
    >
      {{ data }}
    </mat-option>
    }
  </mat-autocomplete>

  @if(this.formControl.valid){
  <ion-icon class="icon close" (click)="clearSearch()" name="close"></ion-icon>
  }

  <ion-icon class="icon" (click)="setSearch()" name="search"></ion-icon>
</section>
