::ng-deep app-carousel-image{
    width:100% !important;
    height: 100% !important;
}
section{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.content {
    position: relative;
    width: 100%;
    flex-grow: 10;
    height: 1rem;
}

.icon{
  cursor: pointer;
  position: absolute;
  font-size: 2rem;

  background-color: rgba(var(--color-new-3-1));
  padding: 0.25rem;
  border-radius:50%;

  color: rgba(var(--color-new-1-1));
}

.trash{
  top: 1rem;
  right: 1rem;
}

.expand{
  bottom:  1rem;
  right: 1rem;
}


::ng-deep .owl-carousel,
::ng-deep owl-carousel-o {
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}

::ng-deep owl-stage,
::ng-deep owl-stage div,
::ng-deep .owl-carousel .owl-stage-outer {
  display: block !important;
  height: 100% !important;
}

.slide {
  width: 100% !important;
  height: 100% !important;
  position: relative;
}

img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.take_photo{
    --background: rgba(var(--color-new-3-1)) !important;
    --color: rgba(var(--color-new-1-1)) !important;
  }