<app-loading [view]="loading()" [download]="download()">
  <div [id]="nameList()" class="content_loader">
    @if(items.length != 0){
    <ion-list lass="body_list">
      @for(item of items; track item;let indexRow = $index){
      <ion-item-sliding>
        <ion-item>
          <div
            class="row"
            [style.grid-auto-rows]="heightRow() + 'rem'"
            [style.grid-template-columns]="
              'repeat(' + totalColumns() + ', 1fr)'
            "
            #lastItem
          >
            <span class="item-index">
              {{ indexRow + 1 }}

              @if(alarm()){
              <div class="status">
                @if(checkAlarmPhoto(item)){
                <ion-icon
                  name="camera"
                  [style.color]="
                    checkStatusAlarmPhoto(item)
                      ? 'rgba(var(--color-new-6-1),0.8)'
                      : 'rgba(var(--color-new-8-1),0.8)'
                  "
                ></ion-icon>
                } @if(checkAlarmGps(item)){
                <ion-icon
                  name="location"
                  [style.color]="
                    checkStatusAlarmGps(item)
                      ? 'rgba(var(--color-new-6-1),0.8)'
                      : 'rgba(var(--color-new-8-1),0.8)'
                  "
                ></ion-icon>

                }
              </div>
              }
            </span>

            @for (column of columns(); track column.id; let indexColumn =
            $index){ @switch (column.type) { @case ('text') {
            <p
              [id]="'column-' + (indexColumn + 1)"
              class="column"
              [style.grid-column]="'span ' + column.size"
            >
              {{
                pipe().transform(item, pipeOpc(), column.name)
                  | summarizeWord : sizeSummarizeWord()
              }}
            </p>
            } @case ('btn'){
            <div
              [id]="'column-' + (indexColumn + 1)"
              class="column buttons"
              [style.grid-column]="'span ' + column.size"
            >
              @for (itrButton of column.buttons; track itrButton;){
              <mat-icon
                (click)="
                  response.emit({
                    operation: itrButton.operation,
                    data: item,
                    index: indexRow
                  })
                "
                >{{ itrButton.icon }}</mat-icon
              >
              }
            </div>

            } @case ('img'){
            <ion-img
              [id]="'column-' + (indexColumn + 1)"
              class="ion-img"
              [style.grid-column]="'span ' + column.size"
              onerror="this.src='assets/default.jpg'"
              [src]="
                online
                  ? pipe().transform(item, pipeOpc(), column.name)
                  : 'assets/default.jpg'
              "
            ></ion-img>
            } @case ('radio'){
            <mat-slide-toggle
              [id]="'column-' + (indexColumn + 1)"
              [(ngModel)]="item.select"
              (toggleChange)="
                response.emit({
                  operation: 'radio',
                  data: item,
                  index: indexRow
                })
              "
            ></mat-slide-toggle>
            } @case ('check'){
            <mat-checkbox
              [id]="'column-' + (indexColumn + 1)"
              [(ngModel)]="item.select"
              (toggleChange)="
                response.emit({
                  operation: 'check',
                  data: item,
                  index: indexRow
                })
              "
            ></mat-checkbox>
            } } }
          </div>
        </ion-item>

        @if(optionsItem.length != 0){
        <ion-item-options>
          <ion-item-option>Favorite</ion-item-option>
          <ion-item-option color="danger">Delete</ion-item-option>
        </ion-item-options>
        }
      </ion-item-sliding>
      }
    </ion-list>

    <!--Componente de infinite scroll-->
    @if(viewIonInfiniteScroll()){
    <ion-infinite-scroll
      threshold="0px"
      (ionInfinite)="handleIonInfiniteScroll()"
    >
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    } } @else {
    <message-empty [nameRegister]="messageEmpty()"> </message-empty>
    }
    <!--Componente de refresher-->
    @if(viewIonRefresher()){
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh()">
      <ion-refresher-content> </ion-refresher-content>
    </ion-refresher>

    }
  </div>
</app-loading>
