<ion-content [@fadeInOut]>
  <div class="container">
    <span class="rect_1"></span>
    <form [formGroup]="formGroup">
      <app-loading [view]="loading">
        <div class="content">
          <img
            alt="logo satia"
            title="logo satia"
            src="assets/logo_pointsat.avif"
          />

          <mat-form-field>
            <mat-label>Cuenta</mat-label>
            <input matInput type="email" formControlName="email" />
            @if( formGroup.get('email')!.hasError('required') &&
            formGroup.get('email')!.touched){
            <mat-error>Campo vació</mat-error>}
            @if(formGroup.get('email')!.hasError('email')){
            <mat-error>Correo invalido</mat-error>}
          </mat-form-field>

          @if (this.online){
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
              (keyup.enter)="register(); hide = true"
            />

            @if( formGroup.get('password')!.hasError('required') &&
            formGroup.get('password')!.touched){
            <mat-error>Campo vació</mat-error>}

            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
          }
          <ion-button class="primary" (click)="register()">
            Iniciar sesión
          </ion-button>
        </div>
      </app-loading>
    </form>
    <span class="rect_2"></span>
  </div>
</ion-content>
