<ion-header [@fadeInOut]>
  <app-nav-bar-simple
    [urlBack]="is_master && online?'/DataBases':''"
  ></app-nav-bar-simple>
</ion-header>
<ion-content [@fadeInOut]>
  <app-list-item
    [nameList]="'tableLocation'"
    [heightRow]="15"
    [sizeSummarizeWord]="150"
    [messageEmpty]="'rutas'"
    [pipe]="routePipe"
    [pipeOpc]="0"
    [columns]="columns"
    (response)="selectColumn($event)"
    (changePage)="refresh()"
    [loading]="loading"
    (refresh)="resetAndRefresh()"
    [viewIonInfiniteScroll]="online"
  ></app-list-item>
</ion-content>
