<ion-toolbar class="nav">
  <ion-buttons slot="start">
    @if(urlBack() != ''){
    <ion-button class="button" [routerLink]="urlBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    }
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button class="button" (click)="openSearchModal()">
      <ion-icon name="search"></ion-icon>
    </ion-button>
    <ion-button
      class="button"
      [matMenuTriggerFor]="settingMenu"
      #menuTriggerSetting="matMenuTrigger"
    >
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-button>

    <mat-menu #settingMenu="matMenu" yPosition="above">
      <button
        class="btn_menu"
        type="button"
        mat-button
        (click)="closeSession()"
      >
        Cerrar sesión
      </button>
    </mat-menu>
  </ion-buttons>
</ion-toolbar>
